<div class="container">
        <div id="slide" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox" style="margin-top: auto;">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                </ol>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{slides1.link1}}"><img src="{{slides1.img1}}" class="d-block w-100"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="background: rgba(25, 124, 188, 0.85);">{{slides1.title1}}</h5>
                </div>
            </div>
            <div class="carousel-item">
                <a href="{{slides2.link1}}"><img src="{{slides2.img1}}" class="d-block w-100"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="background: rgba(94, 175, 49, 0.85);">{{slides2.title1}}</h5>
                </div>
            </div>
            <div class="carousel-item">
                <a href="{{slides3.link1}}"><img src="{{slides3.img1}}" class="d-block w-100"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="background: rgba(234, 100, 43, 0.85);">{{slides3.title1}}</h5>
                </div>
            </div>
            <div class="carousel-item">
                <a href="{{slides3.link1}}"><img src="{{slides3.img1}}" class="d-block w-100"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="background: rgba(221, 0, 119, 0.85);">{{slides3.title1}}</h5>
                </div>
            </div>
            <div class="carousel-item">
                <a href="{{slides4.link1}}"><img src="{{slides4.img1}}" class="d-block w-100"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5 style="background: rgba(218, 139, 98, 0.85);">{{slides4.title1}}</h5>
                </div>
            </div>
            </div>
                <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>