<div class="card col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a href="{{food.link1}}" title="{{food.title1}}">
                                <img src="{{food.img1}}" width="100%" alt="{{food.title1}}">
                            </a>
                            <div class="card-header">
                                <a href="{{food.link1}}">
                                    <h style="color:#555555">{{food.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a href="{{food.link1}}" title="{{food.title1}}">
                                <img src="{{food.img1}}" width="100%" alt="{{food.title1}}">
                            </a>
                            <div class="card-header">
                                <a href="{{food.link1}}">
                                    <h style="color:#555555"> {{food.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a href="{{food.link1}}" title="{{food.title1}}">
                                <img src="{{food.img1}}" width="100%" alt="{{food.title1}}">
                            </a>
                            <div class="card-header">
                                <a href="{{food.link1}}">
                                    <h style="color:#555555">{{food.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>