<div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a class="thumb" href="{{videos.link1}}" title="{{videos.title1}}">
                                <div class="duration"><span>{{videos.time1}}</span></div>
                                <img src="{{videos.img1}}" width="100%" alt="{{videos.title1}}">
                            </a>
                            <div class="card-header">
                                <a href="{{videos.link1}}">
                                    <h style="color:#555555; height: 40px; overflow: hidden;">{{videos.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a class="thumb" href="{{videos.link1}}" title="{{videos.title1}}">
                                <div class="duration"><span>{{videos.time2}}</span></div>
                                <img src="{{videos.img1}}" width="100%" alt="{{videos.title1}}">
                            </a>
                            <div class="card-header">
                                <a href="{{videos.link1}}">
                                    <h style="color:#555555">{{videos.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a class="thumb" href="{{videos.link1}}" title="{{videos.title1}}">
                                <div class="duration"><span>{{videos.time1}}</span></div>
                                <img src="{{videos.img1}}" width="100%" alt="{{videos.title1}}">
                            </a>
                            <div class="card-header">
                                <a href="{{videos.link1}}">
                                    <h style="color:#555555">{{videos.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>