<div class="card col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a href="{{beauty.link1}}" title="{{beauty.title1}}">
                                <img src="{{beauty.img1}}" width="100%" alt="{{beauty.title1}}">
                            </a>
                            <div class="card-header">
                                <a href="{{beauty.link1}}">
                                    <h style="color:#555555">{{beauty.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a href="{{beauty.link1}}" title=" {{beauty.title1}}">
                                <img src="{{beauty.img1}}" width="100%" alt="{{beauty.title1}} ">
                            </a>
                            <div class="card-header">
                                <a href="{{beauty.link1}}">
                                    <h style="color:#555555">{{beauty.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a href="{{beauty.link1}}" title="{{beauty.title1}}">
                                <img src="{{beauty.img1}}" width="100%" alt="{{beauty.title1}}">
                            </a>
                            <div class="card-header">
                                <a href="{{beauty.link1}}">
                                    <h style="color:#555555">{{beauty.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>