<div class="card col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a href="{{hk.link1}}" title="{{hk.title1}}">
                                <img src="{{hk.img1}}" width="100%" alt="{{hk.title1}}">
                            </a>
                            <div class="card-header">
                                <a href="{{hk.link1}}">
                                    <h style="color:#555555">{{hk.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a href="{{hk.link1}}" title="{{hk.title1}}">
                                <img src="{{hk.img1}}" width="100%" alt="{{hk.title1}}">
                            </a>
                            <div class="card-header">
                                <a href="{{hk.link1}}">
                                    <h style="color:#555555">{{hk.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card col-xs-12 col-sm-4 col-md-4">
                        <div class="card">
                            <a href="{{hk.link1}}" title="{{hk.title1}}">
                                <img src="{{hk.img1}}" width="100%" alt="{{hk.title1}}">
                            </a>
                            <div class="card-header">
                                <a href="{{hk.link1}}">
                                    <h style="color:#555555">{{hk.title1}}</h>
                                </a>
                            </div>
                        </div>
                    </div>