{% extends "base/base1.html" %}

{% block content %}
    <body style="background-image: url('https://member.ulifestyle.com.hk/images/v2/background.jpg');
        background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;">

        <section>
            <div class="container st">
                <div class="shadow p-4 bg-white rounded border bg-white">
                    <div class="text-center text-muted">
                        <h4><strong>
                            <a class="nav-link" href="{{url_for('add_hkmenu')}}">
                                  <img src="https://member.ulifestyle.com.hk/images/v2/btn_upload.png" width="35" height="35" style="position: relative; right: 10px;">
                                  <span id="download-app">新增hk menu</span>
                            </a>
                        </strong></h4>
                        <h4><strong>
                            <a class="nav-link" href="{{url_for('add_travelmenu')}}">
                                  <img src="https://member.ulifestyle.com.hk/images/v2/btn_upload.png" width="35" height="35" style="position: relative; right: 10px;">
                                  <span id="download-app">新增travel menu</span>
                            </a>
                        </strong></h4>
                        <h4><strong>
                            <a class="nav-link" href="{{url_for('add_foodmenu')}}">
                                  <img src="https://member.ulifestyle.com.hk/images/v2/btn_upload.png" width="35" height="35" style="position: relative; right: 10px;">
                                  <span id="download-app">新增food menu</span>
                            </a>
                        </strong></h4>
                        <h4><strong>
                            <a class="nav-link" href="{{url_for('add_beautymenu')}}">
                                  <img src="https://member.ulifestyle.com.hk/images/v2/btn_upload.png" width="35" height="35" style="position: relative; right: 10px;">
                                  <span id="download-app">新增beauty menu</span>
                            </a>
                        </strong></h4>
                        <hr>
                    </div>
                </div>
            </div>
        </section>
        <style>
            .st{
                max-width: 100%;
                margin:70px 10px 0 auto;
            }
            @media (min-width: 768px) {
                .st{
                    max-width:500px;
                    margin:120px auto 50px auto;}
            }
        </style>
{% endblock %}