<html>
<head>
    <title>{{ title }} - Ulifestyle</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="page-header ">
                <h1>
                    <a href="/index"><span class="fas fa-home"></span></a>
                </h1>
            <ul class="nav navbar-nav">
                <li><a href="/hk">HK</a></li>
                <li><a href="/travel">Travel</a></li>
                <li><a href="/food">Food</a></li>
                <li><a href="/beauty">Beauty</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/sky_post">Sky Post</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/dowload_app">APP</a></li>
                <li><a href="/join_member">Join Us</a></li>
            </ul>
            </div>
        </div>
    </div>
</body>
</html>
