{% extends "base1.html" %}

{% block content %}
    <body style="background-image: url('https://member.ulifestyle.com.hk/images/v2/background.jpg');
        background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;">

        <section>

            <div class="container st">
                <div class="shadow p-4 bg-white rounded border bg-white">
                    <h2 class="text-center text-muted title">註冊成為 U Lifestyle 會員</h2>
                    <form action="" enctype='multipart/form-data' method="post">

                        {{ form.hidden_tag() }}

                        <p class="text-center text-muted">歡迎您! 請完成以下新會員註冊簡易程序：</p>
                        <p>
                            <div class="float-right">
                               <label class="font-weight-light small">(作為登入使用)</label>
                            </div>
                           <label class="font-weight-bold small">*必填</label><br>
                            {{ form.email.label(class="font-weight-bold") }}<br>
                            {{ form.email(size=32, class="form-control") }}
                            {% for error in form.email.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </p>
                        <div class="float-right">
                            <label class="font-weight-light small">(只限20中文字以內)</label>
                        </div>
                        <p>
                            {{ form.username.label(class="font-weight-bold") }}<br>
                            {{ form.username(size=32, class="form-control") }}
                            {% for error in form.username.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </p>
                        <p>
                        {{ form.gender.label(class="font-weight-bold") }}<div class="form-row">{{ form.gender() }}</div>
                        </p>
                        <p>
                            {{ form.phoneNumber.label(class="font-weight-bold") }}<br>
                            {{ form.phoneNumber(size=32, class="form-control") }}
                        </p>
                        <label class="font-weight-bold">出生日期*：</label>
                        <p>
                            <div class="form-row">
                                {{ form.year(class="form-control form-group col",style="text-align:center;text-align-last:center;") }}

                                {{ form.month(class="form-control form-group col",style="text-align:center;text-align-last:center;") }}

                                {{ form.day(class="form-control form-group col",style="text-align:center;text-align-last:center;") }}
                            </div>
                        {% for error in form.year.errors or form.month.errors or form.day.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                        </p>

                        <p>
                            {{ form.educationLevel.label(class="font-weight-bold") }}<br>
                            {{ form.educationLevel(class="form-control",style="text-align:center;text-align-last:center;") }}
                        </p>
                        <p>
                            {{ form.income.label(class="font-weight-bold") }}<br>
                            {{ form.income(class="form-control",style="text-align:center;text-align-last:center;") }}
                        </p>
                        <div class="float-right">
                            <label class="font-weight-light small">(請用6至10個字元，無空格及區分大小寫)</label>
                        </div>
                        <p>
                            {{ form.password.label(class="font-weight-bold") }}<br>
                            {{ form.password(size=32, class="form-control") }}
                            {% for error in form.password.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.password2.label(class="font-weight-bold") }}<br>
                            {{ form.password2(size=32, class="form-control") }}
                            {% for error in form.password2.errors %}
                                <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </p>
                        <p>
                            {{ form.usergroup(class="form-control d-none",style="text-align:center;text-align-last:center;", disabled=True) }}
                        </p>
                        <p>
                            {{ form.getinfo(size=32) }}{{ form.getinfo.label(class="font-weight-bold text-muted") }}
                        </p>
                        <p>
                            <span class="font-weight-bold text-muted help-block">按下「註冊」代表本人已詳細閱讀及同意本網站的<a href="/about_us">私隱政策與使用條款</a></span>
                        </p>
                        <p>{{ form.submit(class="btn btn-block btn-dark") }}</p>
                    </form>


                </div>
            </div>
        </section>
        <style>
            .st{
                max-width: 100%;
                margin:70px 10px 0 auto;
                }
            @media (min-width: 768px) {
                .st{
                    max-width:500px;
                    margin:120px auto 50px auto;
            }
            }
        </style>
    </body>
{% endblock %}