{% extends "base/base3_1.html" %}

{% block content %}
    <body class="bg-light">

        <section class="container st">
            <div class="shadow p-4 bg-white rounded border bg-white">
                <h1>重設密碼</h1>
                <form action="" enctype='multipart/form-data' method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.password.label(class="font-weight-bold") }}<br>
                        {{ form.password(size=32, class="form-control") }}<br>
                        {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password2.label(class="font-weight-bold") }}<br>
                        {{ form.password2(size=32, class="form-control") }}<br>
                        {% for error in form.password2.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(style="background-color: #5862aa;color: white;", class="btn btn-block") }}</p>
                </form>
            </div>
            {% include 'auth/footer.html' %}
        </section>
        <style>
            .st{
                max-width: 100%;
                margin:70px 10px 0 auto;
                }
            @media (min-width: 768px) {
                .st{
                    max-width:500px;
                    margin:120px auto 50px auto;
            }
            }
        </style>
    </body>
{% endblock %}
